rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    /**
     * FIRESTORE SECURITY RULES DOCUMENTATION
     */

    function isSignedIn(auth) {
      return auth != null;
    }

    match /hymnGenres/{hymnGenreId} {
      allow get, list: if true;
      allow create, update, delete: if isSignedIn(request.auth) && false;

      match /hymns/{hymnId} {
        allow get, list: if true;
        allow create, update, delete: if isSignedIn(request.auth) && false;

        match /hymnRecordings/{hymnRecordingId} {
          allow get, list: if true;
          allow create, update, delete: if isSignedIn(request.auth) && false;

          match /trackMarks/{trackMarkId} {
            allow get, list: if true;
            allow create, update, delete: if isSignedIn(request.auth) && false;
          }
        }
      }
    }
  }
}
